.playlist-h2 {

    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.playlist {
    /* border: 2px solid white; */
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
}

.card {
    height: 235px;
    width: 160px;
    background-color: rgba(128, 128, 128, 0.16);
    border-radius: 10px;
    /* border: 2px solid orange; */
}

.card-img {
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: solid white; */
}

.img {
    width: 100%;
    position: relative;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-img:hover .play {
    opacity: 1;
}

.card:hover {
    background-color: black;
    cursor: pointer;
}

.play {
    position: relative;
    top: -60px;
    bottom: 0px;
    right: 0px;
    left: 112px;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img-title {
    font-size: 12px;
    padding-top: 3px;
    color: gray;
    text-align: center;
}

@media (max-width: 1250px) {
    .playlist {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 90%;
        height: 30%;
    }

    .card-img {
        height: 350px;
    }

    .img-title {
        font-size: 16px;
        height: 50px;
    }

    .play {
        transition: none;
        left: 249px;
        opacity: 1;
    }

}